[submodule "src/backend/core/submodules/shared"]
	path = src/backend/core/submodules/shared
	url = https://github.com/masterlifting/net-shared
	branch = main
[submodule "src/backend/core/submodules/shared-background"]
	path = src/backend/core/submodules/shared-background
	url = https://github.com/masterlifting/net-shared-background
	branch = main
[submodule "src/backend/core/submodules/shared-bots"]
	path = src/backend/core/submodules/shared-bots
	url = https://github.com/masterlifting/net-shared-bots
	branch = main
[submodule "src/backend/core/submodules/shared-persistence"]
	path = src/backend/core/submodules/shared-persistence
	url = https://github.com/masterlifting/net-shared-persistence
	branch = main
[submodule "src/backend/core/submodules/shared-queues"]
	path = src/backend/core/submodules/shared-queues
	url = https://github.com/masterlifting/net-shared-queues
	branch = main
[submodule "src/backend/core/submodules/shared-web"]
	path = src/backend/core/submodules/shared-web
	url = https://github.com/masterlifting/net-shared-web
	branch = main
