<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apazurebotworker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/184b5cba-79d4-4dc7-b674-be2c0f24e644/resourceGroups/bots/providers/Microsoft.Web/sites/apazurebotworker</ResourceId>
    <UserName>$apazurebotworker</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://apazurebotworker.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>