# @format

version: '3.8'

services:
  mongodb_1:
    image: mongo:latest
    hostname: mongodb_1
    container_name: mongodb_1
    volumes:
      - mongodb_1-data:/data/db
      - mongodb_1-config:/data/configdb
      - ../../kdmid-scheduler-secrets/infrastructure/mongodb/mongodb-keyfile:/opt/keyfiles/mongodb-keyfile # chmod 600
    ports:
      - 27017:27017
    command: /bin/bash -c "chmod 600 /opt/keyfiles/mongodb-keyfile && mongod --logpath /var/log/mongodb.log --bind_ip_all --replSet rs0 --keyFile /opt/keyfiles/mongodb-keyfile"
    networks:
      - kdmid-scheduler-network
    restart: always
  mongodb_2:
    image: mongo:latest
    container_name: mongodb_2
    volumes:
      - mongodb_2-data:/data/db
      - mongodb_2-config:/data/configdb
      - ../../kdmid-scheduler-secrets/infrastructure/mongodb/mongodb-keyfile:/opt/keyfiles/mongodb-keyfile # chmod 600
    ports:
      - 27018:27017
    command: /bin/bash -c "chmod 600 /opt/keyfiles/mongodb-keyfile && mongod --logpath /var/log/mongodb.log --bind_ip_all --replSet rs0 --keyFile /opt/keyfiles/mongodb-keyfile"
    networks:
      - kdmid-scheduler-network
    restart: always
  mongodb_3:
    image: mongo:latest
    container_name: mongodb_3
    volumes:
      - mongodb_3-data:/data/db
      - mongodb_3-config:/data/configdb
      - ../../kdmid-scheduler-secrets/infrastructure/mongodb/mongodb-keyfile:/opt/keyfiles/mongodb-keyfile # chmod 600
    ports:
      - 27019:27017
    command: /bin/bash -c "chmod 600 /opt/keyfiles/mongodb-keyfile && mongod --logpath /var/log/mongodb.log --bind_ip_all --replSet rs0 --keyFile /opt/keyfiles/mongodb-keyfile"
    networks:
      - kdmid-scheduler-network
    restart: always

  backend:
    image: kdmid-scheduler-backend
    container_name: backend
    build:
      context: ../src/backend
      dockerfile: ./hosts/vps/kdmid_scheduler-api/Dockerfile
    env_file:
      - .env
    environment:
      - Logging__LogLevel__Default=Debug
      - MongoDbConnection__Host=mongodb_1
      - MongoDbConnection__User=${MONGODBCONNECTION_USERNAME}
      - MongoDbConnection__Password=${MONGODBCONNECTION_PASSWORD}
      - AntiCaptchaConnection__ApiKey=${ANTICAPTCHACONNECTION_APIKEY}
      - BotConnection__Token=${BOTCONNECTION_TOKEN}
      - BotConnection__AdminId=${BOTCONNECTION_ADMINID}
      - Kdmid__WebAppUrl=https://kdmidweb.masterlifting.guru
    networks:
      - kdmid-scheduler-network
    ports:
      - 8080:8080
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.backend.rule=Host(`kdmidapi.masterlifting.guru`)'
      - 'traefik.http.routers.backend.entrypoints=websecure'
      - 'traefik.http.routers.backend.tls.certresolver=lets-encrypt'
      - 'traefik.http.services.backend.loadbalancer.server.port=8080'
    depends_on:
      - mongodb_1
      - mongodb_2
      - mongodb_3
    restart: always

  worker:
    image: kdmid-scheduler-worker
    container_name: worker
    build:
      context: ../src/backend
      dockerfile: ./hosts/vps/kdmid_scheduler-worker/Dockerfile
    env_file:
      - .env
    environment:
      - Logging__LogLevel__Default=Trace
      - MongoDbConnection__Host=mongodb_1
      - MongoDbConnection__User=${MONGODBCONNECTION_USERNAME}
      - MongoDbConnection__Password=${MONGODBCONNECTION_PASSWORD}
      - AntiCaptchaConnection__ApiKey=${ANTICAPTCHACONNECTION_APIKEY}
      - BotConnection__Token=${BOTCONNECTION_TOKEN}
      - BotConnection__AdminId=${BOTCONNECTION_ADMINID}
      - Kdmid__WebAppUrl=https://kdmidweb.masterlifting.guru
      - Background__HostId=9b43dad9-1023-4a29-af39-f4844383c404
      - Background__Tasks__GetAvailableDates__IsInfinite=true
      - Background__Tasks__GetAvailableDates__ChunkSize=1
      - Background__Tasks__GetAvailableDates__Steps=CheckAvailableDates
      - Background__Tasks__GetAvailableDates__Schedule__IsEnable=true
      - Background__Tasks__GetAvailableDates__Schedule__WorkTime=00:07:00
      - Background__Tasks__GetAvailableDates__Schedule__WorkDays=1,2,3,4,5
      - Background__Tasks__GetAvailableDates__Schedule__TimeStart=08:00:00
      - Background__Tasks__GetAvailableDates__Schedule__TimeStop=21:00:00
    networks:
      - kdmid-scheduler-network
    depends_on:
      - backend
    restart: always

  frontend:
    image: kdmid-scheduler-frontend
    container_name: frontend
    build:
      context: ../src/frontend/telegram-webapp
      dockerfile: ./Dockerfile
    environment:
      - REACT_APP_BACKEND_URL=http://localhost:8080
    networks:
      - kdmid-scheduler-network
    ports:
      - 3000:3000
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.frontend.rule=Host(`kdmidweb.masterlifting.guru`)'
      - 'traefik.http.routers.frontend.entrypoints=websecure'
      - 'traefik.http.routers.frontend.tls.certresolver=lets-encrypt'
    depends_on:
      - backend
    restart: always

  traefik:
    image: traefik:v2.3
    container_name: traefik
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    networks:
      - kdmid-scheduler-network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./infrastructure/traefik/traefik.yml:/traefik.yml # chmod 600
      - ../../kdmid-scheduler-secrets/infrastructure/traefik/letsencrypt/acme.json:/acme.json # chmod 600 && chown root:root
    command:
      - '--traefik.enable=true'
      - '--traefik.http.routers.traefik.entrypoints=websecure'
      - '--traefik.http.routers.traefik.tls.certresolver=lets-encrypt'
      - '--traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https'
      - '--traefik.http.routers.traefik.middlewares=traefik-https-redirect'
      - '--certificatesresolvers.lets-encrypt.acme.caserver=https://acme-v02.api.letsencrypt.org/directory'

networks:
  kdmid-scheduler-network: {}

volumes:
  mongodb_1-data:
  mongodb_2-data:
  mongodb_3-data:
  mongodb_1-config:
  mongodb_2-config:
  mongodb_3-config:
