# @format

# traefik.yml

entryPoints:
  web:
    address: ':80'
  websecure:
    address: ':443'

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  lets-encrypt:
    acme:
      email: masterlifting@gmail.com
      storage: acme.json
      httpChallenge:
        entryPoint: web
