# @format

name: Full deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Full deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DO_KDMID_HOST }}
          username: ${{ secrets.DO_KDMID_USERNAME }}
          key: ${{ secrets.DO_KDMID_SSH }}
          script: |
            chmod +x /usr/src/kdmid-scheduler/.github/workflows/deploy-full.sh
            /usr/src/kdmid-scheduler/.github/workflows/deploy-full.sh
